<% provide(:title, 'Missing Artists - Contact') %>
<div class="container-home">
  <h1>We really would like to hear from you</h1>
  <div class="contactUL">
    <ul><b>VIDEO</b>
    <li>Andrew Mcgary</li>
    <li>704.718.3659</li>
    <li>atmcgary@gmail.com</li>
  </ul>
  <hr style="margin-top:40px;" />
  <ul style="margin-top: 50px;"><b>WEB</b>
    <li>John Vehr</li>
    <li>704.609.8561</li>
    <li>JohnVehr@yahoo.com</li>
    <li><a href="https://github.com/johnvehr" target="_blank">GITHUB</a></li>
    <li><a href="https://twitter.com/johnvehr" target="_blank">TWITTER</a></li>
  </ul>
</div>
</div>
