<% provide(:title, 'Missing Artists') %>
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/video.jpg" alt="mountain" >
    </li>
    <li>
      <img src="/assets/web.jpg" alt="charlotte skyline" >
      <p class="flex-caption">
      We do our media stuff in Charlotte!
      </p>
    </li>
  </ul>
</div>

<%= render 'layouts/script' %> 
