<% provide(:title, 'Missing Artists') %>
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/homeboard.jpg" alt="mountain" >
    </li>
    <li>
      <img src="/assets/home2.jpg" alt="charlotte skyline" >
    </li>
    <li>
      <img src="/assets/home3.jpg" alt="charlotte skyline" >
    </li>
    <li>
      <img src="/assets/home4.jpg" alt="charlotte skyline" >
    </li>
    <li>
      <img src="/assets/home5.jpg" alt="charlotte skyline" >
    </li>
    <li>
      <img src="/assets/home6.jpg" alt="charlotte skyline" >
    </li>
    <li>
      <img src="/assets/home7.jpg" alt="charlotte skyline" >
    </li>
    <li>
      <img src="/assets/home8.jpg" alt="charlotte skyline" >
    </li>
  </ul>
</div>

<%= render 'layouts/script' %> 
