<% provide(:title, "Missing Artists - About") %>

<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/videoservice.jpg" alt="andrew" >
    </li>
     <li>
      <img src="/assets/webservices-1.jpg" alt="john" >
    </li>
  </ul>
</div>

<%= render 'layouts/script' %> 


