<% provide(:title, "Missing Artists - About") %>

<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="/assets/about.jpg" alt="about us" >
    </li>
    <li>
      <img src="/assets/tyler.jpg" alt="andrew" >
    </li>
     <li>
      <img src="/assets/john.jpg" alt="john" >
    </li>
  </ul>
</div>

<%= render 'layouts/script' %> 


