<% provide(:title, 'Missing Artists') %>
<div class="flexslider">
  <ul class="slides">
    <li>
     <iframe width="932" height="524" src="http://www.youtube.com/embed/0syNt3kO9Rg" frameborder="0" allowfullscreen></iframe> 
      <p class="flex-caption-video">
      We used 2 cameras, color cameras.. about 5 or so years old.  They're super easy to hold      </p>
    </li>
    <li>
      <iframe width="932" height="524" src="http://www.youtube.com/embed/s16nvXD-mgE" frameborder="0" allowfullscreen></iframe>         
      <p class="flex-caption-video">
      We used 2 cameras, color cameras.. abohey're super easy to hold
      </p>
    </li>
  </ul>
</div>

<%= render 'layouts/script' %> 
