<% provide(:title, 'Missing Artists - Web Development') %>
<div class="container-home">
  <h1 class="webTitle">Web Development</h1>
  <p>
    Focusing on modern technology to keep everyone ahead of the game
  </p>
  <ul class="webImages">
    <li><img src="/assets/phone.png" alt="phone"></li>
    <li><img src="/assets/HTML5.png" alt="html"></li>
    <li><img src="/assets/CSS_Master.png" alt="css"></li>
    <li><img src="/assets/prog.png" alt="programming"></li>
  </ul>
  <ul class="webImagesDesc">
    <li><h3>MOBILE</h3></li>
    <li><h3>MODERN TECHNOLOGY</h3></li>
    <li><h3>FRONTEND</h3></li>
    <li><h3>SERVERSIDE</h3></li>
  </ul>
  <div class="rightSide">
    <p>
      We prefer to focus on Rails applications.  Contact us for a free consultaion<br />
      <span>704.609.8561</span> or <span>JohnVehr@yahoo.com</span>
    </p>
  </div>
</div>
