<footer class="footer">
<%= link_to "HOME", root_path %><span class="footerText"></span>
<%= link_to "SERVICES", services_path %>
<a></a>
<a></a>
<nav>
<ul>
  <small>Missing Artists Inc |</small>
    <li>Charlotte NC</li>
    <li>704-555-5555</li>
  </ul>
  </nav>
</footer>
